[sssd]
domains = {{ sssd_domains }}
services = nss, pam
config_file_version = 2

[nss]
filter_users = root,daemon,bin,sys,sync,games,man,lp,mail,news,uucp,proxy,www-data,backup,nobody,syslog,sshd,vagrant,ubuntu,ansible
filter_groups = root,daemon,bin,sys,sync,games,man,lp,mail,news,uucp,proxy,www-data,backup,nobody,syslog,sshd,vagrant,ubuntu,ansible

[domain/spscommerce.com]
id_provider = ldap
auth_provider = ldap
ldap_uri = {% for s in sssd_ldap_servers %}ldap://{{ s }}:{{ sssd_ldap_port }}{{ ',' if not loop.last else '\n' }}{% endfor %}
ldap_schema = AD
ldap_search_base = {{ sssd_ldap_search_base }}
ldap_default_bind_dn = {{ sssd_ldap_default_bind_dn }}
ldap_default_authtok = {{ sssd_ldap_default_authtok }}
ldap_id_use_start_tls = true
ldap_tls_reqcert = demand
ldap_tls_cacert = {{ sssd_ldap_tls_cacertdir }}/SPS_Internal_CA.crt
ldap_referrals = false
min_id = 20000

# This setting will pre-fetch all ldap records and cache them, but is generally
# not recommended by the sssd folks. It will increase load on AD servers, but
# make logins fast. Note that when it was implemented, groups did not get
# retrieved correctly for users. This was probably a config problem that can be
# fixed.
enumerate = {{ sssd_enumerate }}
